img{
	width:250px;
	margin-left:100px;
}
ul{
	float:right;
	list-style:none;
	
}
ul li{
	display:inline;
	font-size:20px;
	color:white;
	padding:0px 20px;
}
li button{
	background-color:skyblue;
	color:white;
}
.main{
	margin-bottom:20px;
	color:white;
	padding:90px ;
display:block;

}
.main p{
	color:white;
	padding:0px;
	margin-bottom:;
	line-height:20px;
	
}
.two{
	float-right2px;
	width:250px;
	padding-top;100px;
	display:block;
	
}
.two img{

display:block;	
}
.this button{
	background-color:skyblue;
	color:white;
	padding:15px;	